/* 
I think I need to make a div container above the 
sections and then apply the background color to
that div, then apply the width (1400px) to the
section classes themselves, and take it off of main.
*/
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0;
    width: 1000px;
}

a, .secondary-text, .footer {
    color: #e5e7eb;
}

.logo, .awesome, .call {
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
}

.info-text, .text, .text-cred {
    color: #1F2937;
}

.header, .intro, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 100px;
}

.intro {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 30px;
}

.info-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: bolder;
}

.random {
    display: flex;
    flex-direction: column;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 0 40px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card img {
    width: 100px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 15px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.container {
    padding: 0 60px;
}

.text {
    font-size: 28px;
    font-style: italic;
}

.text-cred {
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
}

.signup {
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

.signup-box {
    display: flex;
    padding: 30px 80px;
    background-color: #3882F6;
    flex: 1;
    border-radius: 4px;
}



ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
}

.intro-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.intro-right img {
    width: auto;
}

.intro-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.call {
    font-size: 24px;
    font-weight: bolder;
    flex: 1;
}

.button-two {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.secondary-text {
    margin-top: 0;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.action .secondary-text {
    margin-bottom: 0;
}

button {
    background-color: #3882F6;
    color: #f9faf8;
    padding: 6px 20px;
    font-weight: bold;
}

.intro-left button {
    border: 2px solid #3882F6;
    border-radius: 4px;
}

.button-two button {
    border: 2px solid #f9faf8;
    border-radius: 4px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
}