body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    padding-right: 100px;
}

.header, .intro, .footer {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}